.about{
    font-size: 60px;
    background-color: #2a2c7f;
    
    
}
.container h2{
    font-size: 3.4rem;
}
.container p{
    font-size: 1.2rem;
    max-width: 80rem;
}
.about-us{
    display: flex;
    margin-bottom: 100px;
  }