

.course-details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
p span{
    font-size: 50px;
}
.button{
    padding:15px 60px;
   
    border-radius:5px ;
    transition: all .40s;

}
button:hover{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 17px 0 rgba(0, 0, 0, 0.19);
}