nav{
   
    line-height: 80px;
    background-color: #edeef3;

}
.nav-logo{
    text-decoration: none;
    font-size: 2.5em;
    font-weight: 600;
    margin-right: 15em;
    color: rgb(40, 40, 224);
}
.nav-logo:hover{
    color: rgb(13, 13, 197);
}
/* .nav-logo .logo{
    
} */
.navLink{
    text-decoration: none;
    
    font-weight: 600;
    color: rgb(36, 34, 34);
    padding-right: 15px;
}
