footer{
    display: flex;
    background-color: #0e1133;
    margin-top: 1rem;
    clear: both;
    padding: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    
    
}
ul li{
    text-decoration: none;
}
.copyright{
    padding-right: 400px;
}
.footerLink{
    text-decoration: none;
    color: white;
}